/*header*/
@media (min-width:360px) and (max-width:640px) {
    #header {
        h4 {
            font-size: 300%;
        }

        h5 {
            font-size: 35%;
            width: 40%;
        }

        h3 {
            font-size: 50%;
        }

        #menu {

            h4 {
                font-size: 100%;
            }

            h5 {
                font-size: 75%;
            }

            nav {
                .nav-link {
                    font-size: 50%;
                }
            }
        }
    }
}

@media (min-width:375px) and (max-width:667px) {
    #header {
        h5 {
            width: 35%;
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #header {
        h4 {
            font-size: 600%;
        }

        h5 {
            font-size: 70%;
            width: 35%;
        }

        h3 {
            font-size: 70%;
        }


        #menu {
            h4 {
                font-size: 250%;
            }

            h5 {
                font-size: 150%;
            }

            nav {
                .nav-link {
                    font-size: 42%;
                }
            }
        }
    }
}

@media (min-width:1024px) and (max-width:1366px) {
    #header {
        h4 {
            font-size: 800%;
        }

        h5 {
            font-size: 100%;
            width: 40%;
        }

        #menu {
            h4 {
                font-size: 300%;
            }

            h5 {
                font-size: 200%;
            }

            nav {
                .nav-link {
                    font-size: 70%;
                }
            }
        }
    }
}

/*header*/


/*aboutass*/
@media (min-width:360px) and (max-width:640px) {
    #aboutass {
        #text_2 {
            width: 100%;
        }
    }
}

/*aboutass*/


/*card*/
@media (min-width:360px) and (max-width:640px) {
    #aboutass {
        #card {
            .card {
                width: 100%;

                .card-body {
                    .card-text {
                        font-size: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #aboutass {
        #card {
            .card {
                width: 60%;

                .card-body {
                    .card-text {
                        font-size: 100%;
                    }
                }
            }
        }
    }
}

/*card*/


/*FeaturedWork*/
@media(min-width:360px) and (max-width:640px) {
    #FeaturedWork {
        #text {
            font-size: 69%;
            margin-left: 7%;
        }

        nav {
            .nav-link {
                font-size: 43%;
            }
        }
    }
}

/*FeaturedWork*/


/*strategy*/
@media(min-width:360px) and (max-width:640px) {
    #strategy {
        .row {
            font-size: 75%;
        }

        #text {
            font-size: 70%;
            margin-left: 7%;
        }

        #cards {

            .card {
                margin-top: 0%;
                margin-right: 20%;

                #too {
                    .card-body {
                        margin-left: 0%;
                        margin-right: 0%;
                    }
                }
            }

            .card-body {
                font-size: 70%;
                margin-left: 0%;
            }

            .card-img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #strategy {
        #cards {

            .card {
                .card-body {
                    font-size: 55%;
                    margin-left: 22%;
                }
            }
        }
    }
}


@media (min-width:1024px) and (max-width:1366px) {
    #strategy {
        #cards {

            .card {
                .card-body {
                    font-size: 82%;
                }
            }
        }
    }
}

/*strategy*/


/*SericesProvided*/
@media (min-width:360px) and (max-width:640px) {
    #SericesProvided {
        background-size: cover;

        #main {
            #text {
                h4 {
                    font-size: 90%;
                }
            }

            #text_card {
                width: 65%;

                .card {

                    .card-title {
                        font-size: 60%;
                    }

                    .card-text {
                        font-size: 60%;
                    }
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #SericesProvided {
        background-size: cover;

        #main {
            #text {
                h4 {
                    font-size: 200%;
                }
            }
        }
    }
}

@media (min-width:1024px) and (max-width:1366px) {
    #SericesProvided {
        background-size: cover;
    }
}

/*SericesProvided*/


/*team*/
@media (min-width:360px) and (max-width:640px) {
    #team {
        .row {
            h4 {
                font-size: 250%;
                margin-left: 20%;
            }

            #our {
                width: 100%;
                margin-left: 0%;
                margin-top: 0%;
                margin-right: 8%;

                h4 {
                    font-size: 100%;
                }

                h5 {
                    font-size: 100%;
                    margin-left: 20%;
                    margin-top: 10%;
                }

                #our_team {
                    .card {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #team {
        .row {
            h4 {
                font-size: 400%;
                margin-left: 20%;
            }

            #our {
                width: 100%;
                margin-left: 0%;
                margin-top: 0%;
                margin-right: 8%;

                h4 {
                    font-size: 150%;
                }

                h5 {
                    font-size: 150%;
                    margin-left: 20%;
                    margin-top: 10%;
                }

                #our_team {
                    .card {
                        width: 100%;

                        .card-body {
                            .card-text {
                                font-size: 150%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*team*/

/*Testimonials*/
@media(min-width:360px) and (max-width:640px) {
    #Testimonials {
        .row {
            #part_1 {
                width: 100%;

                h4 {
                    font-size: 200%;
                    margin-left: 25%;
                }
            }

            #part_2 {
                .card {
                    margin-left: 10%;
                    margin-top: 20%;
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #Testimonials {
        .row {
            #part_1 {
                width: 100%;

                h4 {
                    font-size: 200%;
                    margin-left: 25%;
                }
            }

            #part_2 {
                .card {
                    margin-left: 50%;
                    margin-top: 20%;
                }
            }
        }
    }
}

/*Testimonials*/



/*blogs*/
@media (min-width:360px) and (max-width:640px) {
    #blogs {
        .row {


            #menu {

                h4 {
                    font-size: 150%;
                }

                nav {
                    a {
                        font-size: 90%;
                    }
                }
            }

            #cardt {
                width: 70%;

                .card {
                    margin-left: 50%;

                    .card-img-top {
                        width: 100%;
                    }

                    .card-body {
                        .card-title {
                            font-size: 75%;
                        }

                        .card-text {
                            font-size: 70%;
                        }
                    }
                }
            }
        }
    }
}

/*blogs*/