/*header*/
@media (min-width: 360px) and (max-width: 640px) {
  #header h4 {
    font-size: 300%;
  }
  #header h5 {
    font-size: 35%;
    width: 40%;
  }
  #header h3 {
    font-size: 50%;
  }
  #header #menu h4 {
    font-size: 100%;
  }
  #header #menu h5 {
    font-size: 75%;
  }
  #header #menu nav .nav-link {
    font-size: 50%;
  }
}
@media (min-width: 375px) and (max-width: 667px) {
  #header h5 {
    width: 35%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #header h4 {
    font-size: 600%;
  }
  #header h5 {
    font-size: 70%;
    width: 35%;
  }
  #header h3 {
    font-size: 70%;
  }
  #header #menu h4 {
    font-size: 250%;
  }
  #header #menu h5 {
    font-size: 150%;
  }
  #header #menu nav .nav-link {
    font-size: 42%;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  #header h4 {
    font-size: 800%;
  }
  #header h5 {
    font-size: 100%;
    width: 40%;
  }
  #header #menu h4 {
    font-size: 300%;
  }
  #header #menu h5 {
    font-size: 200%;
  }
  #header #menu nav .nav-link {
    font-size: 70%;
  }
}
/*header*/
/*aboutass*/
@media (min-width: 360px) and (max-width: 640px) {
  #aboutass #text_2 {
    width: 100%;
  }
}
/*aboutass*/
/*card*/
@media (min-width: 360px) and (max-width: 640px) {
  #aboutass #card .card {
    width: 100%;
  }
  #aboutass #card .card .card-body .card-text {
    font-size: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #aboutass #card .card {
    width: 60%;
  }
  #aboutass #card .card .card-body .card-text {
    font-size: 100%;
  }
}
/*card*/
/*FeaturedWork*/
@media (min-width: 360px) and (max-width: 640px) {
  #FeaturedWork #text {
    font-size: 69%;
    margin-left: 7%;
  }
  #FeaturedWork nav .nav-link {
    font-size: 43%;
  }
}
/*FeaturedWork*/
/*strategy*/
@media (min-width: 360px) and (max-width: 640px) {
  #strategy .row {
    font-size: 75%;
  }
  #strategy #text {
    font-size: 70%;
    margin-left: 7%;
  }
  #strategy #cards .card {
    margin-top: 0%;
    margin-right: 20%;
  }
  #strategy #cards .card #too .card-body {
    margin-left: 0%;
    margin-right: 0%;
  }
  #strategy #cards .card-body {
    font-size: 70%;
    margin-left: 0%;
  }
  #strategy #cards .card-img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #strategy #cards .card .card-body {
    font-size: 55%;
    margin-left: 22%;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  #strategy #cards .card .card-body {
    font-size: 82%;
  }
}
/*strategy*/
/*SericesProvided*/
@media (min-width: 360px) and (max-width: 640px) {
  #SericesProvided {
    background-size: cover;
  }
  #SericesProvided #main #text h4 {
    font-size: 90%;
  }
  #SericesProvided #main #text_card {
    width: 65%;
  }
  #SericesProvided #main #text_card .card .card-title {
    font-size: 60%;
  }
  #SericesProvided #main #text_card .card .card-text {
    font-size: 60%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #SericesProvided {
    background-size: cover;
  }
  #SericesProvided #main #text h4 {
    font-size: 200%;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  #SericesProvided {
    background-size: cover;
  }
}
/*SericesProvided*/
/*team*/
@media (min-width: 360px) and (max-width: 640px) {
  #team .row h4 {
    font-size: 250%;
    margin-left: 20%;
  }
  #team .row #our {
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 8%;
  }
  #team .row #our h4 {
    font-size: 100%;
  }
  #team .row #our h5 {
    font-size: 100%;
    margin-left: 20%;
    margin-top: 10%;
  }
  #team .row #our #our_team .card {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #team .row h4 {
    font-size: 400%;
    margin-left: 20%;
  }
  #team .row #our {
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 8%;
  }
  #team .row #our h4 {
    font-size: 150%;
  }
  #team .row #our h5 {
    font-size: 150%;
    margin-left: 20%;
    margin-top: 10%;
  }
  #team .row #our #our_team .card {
    width: 100%;
  }
  #team .row #our #our_team .card .card-body .card-text {
    font-size: 150%;
  }
}
/*team*/
/*Testimonials*/
@media (min-width: 360px) and (max-width: 640px) {
  #Testimonials .row #part_1 {
    width: 100%;
  }
  #Testimonials .row #part_1 h4 {
    font-size: 200%;
    margin-left: 25%;
  }
  #Testimonials .row #part_2 .card {
    margin-left: 10%;
    margin-top: 20%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #Testimonials .row #part_1 {
    width: 100%;
  }
  #Testimonials .row #part_1 h4 {
    font-size: 200%;
    margin-left: 25%;
  }
  #Testimonials .row #part_2 .card {
    margin-left: 50%;
    margin-top: 20%;
  }
}
/*Testimonials*/

/*# sourceMappingURL=optimization.css.map */
