body {
    width: 100%;
    height: 100%;
}

#header {
    background-image: url('./images/Layer\ 6.png');
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding: 0.1%;

    h4 {
        color: white;
        margin-top: 3%;
        margin-left: 10%;
        font-size: 1300%;

        span {
            color: yellow;
            text-transform: uppercase;
        }
    }

    h5 {
        color: white;
        margin-left: 30%;
    }

    a {
        color: yellow;
        text-decoration: none;
        margin-left: 11%;
    }

    #menu {
        background: url('./images/Layer\ 5.png');
        background-size: 100%;
        width: 85%;
        height: 100%;
        margin-left: 9%;
        margin-top: 8%;
        padding: 1%;

        h4 {
            margin-top: 5%;
            margin-left: 2%;
            font-size: 400%;
        }

        h5 {
            margin-left: 2%;
            margin-top: 0%;
            font-size: 350%;
        }

        nav {
            margin-top: 3%;

            a {
                margin-left: 1%;
                font-size: 100%;
            }
        }

        #line {
            margin-top: 25%;
        }
    }
}