@font-face {
  font-family: "MyriadProBold";
  src: url("./fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
}
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("./fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("./fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
}
@font-face {
  font-family: "MyriadProItalic";
  src: url("./fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
}
body {
  width: 100%;
  height: 100%;
  background: black;
}

#header {
  background-image: url("./images/Layer 6.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
  padding: 0.1%;
}
#header h4 {
  color: white;
  margin-top: 3%;
  margin-left: 10%;
  font-size: 1300%;
  font-family: "MyriadProBold";
}
#header h4 span {
  color: yellow;
  text-transform: uppercase;
}
#header h5 {
  color: white;
  margin-left: 10%;
  width: 30%;
  font-family: "MyriadProRegular";
}
#header h3 {
  margin-left: 10%;
  text-decoration: none;
  margin-top: 3%;
  font-size: 120%;
  font-family: "MyriadProRegular";
}
#header h3 a {
  color: yellow;
}
#header #menu {
  background: url("./images/Layer 5.png");
  background-size: 100%;
  width: 85%;
  height: 100%;
  margin-left: 9%;
  margin-top: 5%;
  padding: 2.3%;
}
#header #menu h4 {
  margin-top: 2%;
  margin-left: 2%;
  font-size: 400%;
  font-family: "MyriadProBold";
}
#header #menu h5 {
  margin-left: 2%;
  font-size: 295%;
  font-family: "MyriadProBold";
  color: white;
}
#header #menu nav {
  margin-top: 3%;
}
#header #menu nav .nav-link {
  margin-left: 1%;
  font-size: 100%;
  font-family: "MyriadProRegular";
  color: yellow;
}
#header #menu #line {
  margin-top: 25%;
}

#aboutass {
  width: 100%;
  height: 100%;
}
#aboutass #text {
  margin-left: 14%;
  margin-top: 8%;
}
#aboutass #text h3 {
  color: gray;
  font-size: 270%;
  font-family: "MyriadProRegular";
}
#aboutass #text h3 span {
  text-transform: uppercase;
}
#aboutass #text h4 {
  font-size: 500%;
  font-family: "MyriadProRegular";
}
#aboutass #text h4 span {
  text-transform: uppercase;
  color: yellow;
}
#aboutass #text_2 {
  width: 50%;
  height: auto;
  margin-left: 10%;
  margin-top: 6%;
}
#aboutass #text_2 h3 {
  font-size: 110%;
  font-family: "MyriadProItalic";
}
#aboutass #text_2 h4 {
  font-size: 105%;
  font-family: "MyriadProItalic";
  margin-top: 5%;
}
#aboutass #card {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-left: 3%;
}
#aboutass #card .card {
  margin-left: 2%;
  width: 30%;
  border: 0px;
  font-family: "MyriadProRegular";
}
#aboutass #card .card .card-img-top {
  width: 20%;
  height: auto;
  margin-left: 40%;
}

#FeaturedWork {
  margin-top: 10%;
}
#FeaturedWork #text {
  margin-left: 5%;
}
#FeaturedWork #text h4 {
  margin-left: 1%;
  font-size: 300%;
  font-family: "MyriadProSemiBold";
}
#FeaturedWork #text h4 span {
  text-transform: uppercase;
  font-size: 150%;
}
#FeaturedWork #text h4 #one {
  color: yellow;
}
#FeaturedWork nav {
  margin-left: 5%;
  margin-top: 1%;
  text-transform: uppercase;
}
#FeaturedWork nav .nav-link {
  color: black;
  font-family: "MyriadProSemiBold";
}
#FeaturedWork #images {
  margin-top: 2%;
}
#FeaturedWork #images .row img {
  width: 25%;
}

#strategy {
  margin-top: 5%;
}
#strategy .row {
  margin-left: 5%;
}
#strategy .row h4 {
  margin-left: 1%;
  font-size: 300%;
  font-family: "MyriadProSemiBold";
}
#strategy .row h4 span {
  text-transform: uppercase;
  font-size: 150%;
}
#strategy .row h4 .one {
  color: yellow;
}
#strategy #text h3 {
  font-size: 125%;
  font-family: "MyriadProSemiBold";
  margin-top: 2%;
}
#strategy #text h4 {
  font-size: 118%;
  font-family: "MyriadProSemiBold";
  margin-top: 2%;
}
#strategy #cards {
  margin-left: 15%;
  margin-top: 5%;
}
#strategy #cards .card {
  border: 0px;
  margin-top: -2%;
}
#strategy #cards .card #too .card-body {
  margin-left: 0%;
  margin-right: 22%;
}
#strategy #cards .card-body {
  font-size: 100%;
  font-family: "MyriadProSemiBold";
  margin-left: 25%;
}
#strategy #cards .card-img {
  width: 150%;
  height: auto;
}

#SericesProvided {
  background: url("./images/Layer 26.png");
  background-size: 100%;
  margin-top: 8%;
  padding: 3.8%;
}
#SericesProvided #main #text {
  width: 40%;
  height: 100%;
  margin-top: -1%;
  margin-left: -1%;
}
#SericesProvided #main #text .one {
  color: yellow;
  text-transform: uppercase;
}
#SericesProvided #main #text span {
  text-transform: uppercase;
  font-size: 150%;
}
#SericesProvided #main #text h4 {
  margin-left: 1%;
  font-size: 270%;
  font-family: "MyriadProRegular";
  color: white;
}
#SericesProvided #main #text_card {
  width: 60%;
  height: 100%;
  margin-top: 6%;
}
#SericesProvided #main #text_card #card_2 {
  margin-top: 5%;
}
#SericesProvided #main .card {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-left: 2%;
  border: 0px;
  font-family: "MyriadProRegular";
}
#SericesProvided #main .card .card-text {
  margin-top: 10%;
  font-size: 80%;
  font-family: "MyriadProRegular";
}

#team .row h4 {
  margin-top: 10%;
  margin-left: 5%;
  font-size: 280%;
  font-family: "MyriadProSemiBold";
}
#team .row h4 span {
  text-transform: uppercase;
  font-size: 150%;
  font-family: "MyriadProSemiBold";
}
#team .row h4 .one {
  color: yellow;
}
#team .row #our {
  width: 65%;
  height: auto;
  margin-left: 5%;
  margin-top: 2%;
}
#team .row #our h4 {
  font-size: 120%;
  font-family: "MyriadProSemiBold";
}
#team .row #our h5 {
  margin-left: 5%;
  margin-top: 3%;
  font-size: 105%;
  font-family: "MyriadProSemiBold";
}
#team .row #our #our_team {
  margin-left: 5%;
  margin-top: 5%;
}
#team .row #our #our_team .card {
  width: 23%;
  height: 100%;
  margin-left: 2%;
  border: 0px;
  font-family: "MyriadProSemiBold";
}

#Testimonials {
  margin-top: 5%;
  background: black;
  background-size: 100%;
}
#Testimonials .row #part_1 {
  width: 70%;
  height: auto;
}
#Testimonials .row #part_1 h4 {
  margin-left: 7%;
  font-size: 250%;
  font-family: "MyriadProSemiBold";
  color: white;
}
#Testimonials .row #part_1 h4 span {
  text-transform: uppercase;
  font-size: 180%;
  font-family: "MyriadProSemiBold";
  color: yellow;
}
#Testimonials .row #part_1 h5 {
  margin-left: 13%;
  margin-top: 10%;
  color: white;
  font-family: "MyriadProSemiBold";
}
#Testimonials .row #part_1 h6 {
  margin-left: 13%;
  margin-top: 3%;
  width: 75%;
  color: white;
  font-family: "MyriadProSemiBold";
}
#Testimonials .row #part_2 .card {
  margin-top: 45%;
  margin-left: 20%;
  border: 0px;
  background: black;
}
#Testimonials .row #part_2 .card .card-img-top {
  width: 50%;
  margin-left: 25%;
}
#Testimonials .row #part_2 .card .card-body {
  color: white;
  font-family: "MyriadProSemiBold";
}
#Testimonials .row #part_2 .card .card-body .one {
  margin-left: 38%;
}
#Testimonials .row #part_2 .card .card-body .too {
  margin-left: 25%;
}

#blogs {
  width: 100%;
  height: auto;
  margin-top: 2%;
}
#blogs .row #menu {
  width: 30%;
  height: auto;
}
#blogs .row #menu h4 {
  font-size: 230%;
  font-family: "MyriadProSemiBold";
  margin-left: 14%;
  margin-top: 10%;
}
#blogs .row #menu h4 span {
  text-transform: uppercase;
  font-size: 180%;
  color: yellow;
}
#blogs .row #menu nav {
  margin-left: 30%;
  margin-top: 5%;
  font-family: "MyriadProRegular";
}
#blogs .row #menu nav a {
  color: black;
  font-size: 130%;
}
#blogs .row #menu nav .one {
  color: yellow;
}
#blogs .row #cardt {
  width: 70%;
  height: auto;
  margin-top: 3%;
}
#blogs .row #cardt .card {
  margin-left: 5%;
  border: 0px;
  font-family: "MyriadProSemiBold";
}

#contact {
  margin-top: 5%;
  background: url("./images/Sublime copy.png");
  background-size: 80%;
}
#contact #forma {
  background: blue;
  width: 40%;
  height: 100%;
  height: 100%;
  margin-left: 60%;
  padding: 1%;
  font-family: "MyriadProSemiBold";
}
#contact #forma form {
  width: 60%;
  height: 100%;
  margin-left: 10%;
  margin-top: 2%;
}
#contact #forma form .btn {
  width: 30%;
  border-radius: 0px 0px 0px 0px;
  background: yellow;
  color: black;
  font-size: 130%;
  margin-top: 3%;
}
#contact #forma h4 {
  font-size: 300%;
  margin-top: 7%;
  margin-left: 10%;
  color: white;
}
#contact #forma h4 span {
  color: yellow;
}
#contact #forma h5 {
  margin-top: 12%;
  margin-left: 12%;
  color: white;
}
#contact #forma #text {
  margin-left: 12%;
  margin-top: 5%;
  color: white;
}
#contact #forma #text #data {
  margin-left: 5%;
}
#contact #forma #silka {
  margin-left: 12%;
  margin-top: 12%;
}
#contact #forma #silka a img {
  width: 3%;
}
#contact #forma #silka hr {
  background: white;
  width: 70%;
  margin-right: 30%;
}

#Layout {
  margin-top: 10%;
}
#Layout .row #part_one {
  background: black;
  background-size: 100%;
  width: 35%;
  height: auto;
}
#Layout .row #part_one h4 {
  color: white;
  margin-left: 10%;
  margin-top: 20%;
  font-size: 350%;
  font-family: "MyriadProBold";
}
#Layout .row #part_one h4 span {
  color: yellow;
}
#Layout .row #part_one nav {
  margin-left: 7%;
  margin-top: 10%;
}
#Layout .row #part_one nav .nav-link {
  color: white;
  width: 31%;
  font-family: "MyriadProSemiBold";
}
#Layout .row #part_one nav .active {
  color: yellow;
}
#Layout .row #part_one hr {
  background: yellow;
  width: 25%;
  height: auto;
  margin-right: 65%;
}
#Layout .row #part_one #socialnetwork {
  margin-left: 10%;
}
#Layout .row #part_one #socialnetwork a img {
  width: 4%;
}
#Layout .row #part_too {
  width: 65%;
  height: 100%;
  background-size: 100%;
  background-image: url("./images/too.png");
}
#Layout .row #part_too #other {
  background-color: rgba(12, 11, 11, 0.671);
  background-size: 100%;
  padding: 4%;
}
#Layout .row #part_too #other h3 {
  color: white;
  margin-top: 35%;
  font-size: 600%;
  font-family: "MyriadProBold";
}
#Layout .row #part_too #other h3 span {
  color: yellow;
}
#Layout .row #part_too #other h4 {
  color: white;
  font-size: 620%;
  font-family: "MyriadProBold";
}

/*# sourceMappingURL=style.css.map */
