body {
  width: 100%;
  height: 100%;
}

#header {
  background-image: url("./images/Layer 6.png");
  background-size: 100%;
  width: 100%;
  height: 100%;
  padding: 0.1%;
}
#header h4 {
  color: white;
  margin-top: 3%;
  margin-left: 10%;
  font-size: 1300%;
}
#header h4 span {
  color: yellow;
  text-transform: uppercase;
}
#header h5 {
  color: white;
  margin-left: 10%;
  width: 30%;
}
#header h3 {
  margin-left: 10%;
  text-decoration: none;
  margin-top: 3%;
  font-size: 120%;
}
#header h3 a {
  color: yellow;
}
#header #menu {
  background: url("./images/Layer 5.png");
  background-size: 100%;
  width: 85%;
  height: 100%;
  margin-left: 9%;
  margin-top: 5%;
  padding: 2.3%;
}
#header #menu h4 {
  margin-top: 2%;
  margin-left: 2%;
  font-size: 400%;
}
#header #menu h5 {
  margin-left: 2%;
  font-size: 295%;
  color: white;
}
#header #menu nav {
  margin-top: 3%;
}
#header #menu nav .nav-link {
  margin-left: 1%;
  font-size: 100%;
  color: yellow;
}
#header #menu #line {
  margin-top: 25%;
}

#aboutass {
  width: 100%;
  height: 100%;
}
#aboutass #text {
  margin-left: 14%;
  margin-top: 8%;
}
#aboutass #text h3 {
  color: gray;
  font-size: 270%;
}
#aboutass #text h3 span {
  text-transform: uppercase;
}
#aboutass #text h4 {
  font-size: 500%;
}
#aboutass #text h4 span {
  text-transform: uppercase;
  color: yellow;
}
#aboutass #text_2 {
  width: 50%;
  height: auto;
  margin-left: 10%;
  margin-top: 6%;
}
#aboutass #text_2 h3 {
  font-size: 110%;
}
#aboutass #text_2 h4 {
  font-size: 105%;
  margin-top: 5%;
}

#card {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-left: 3%;
}
#card .card {
  margin-left: 2%;
  width: 30%;
  border: 0px;
}
#card .card .card-img-top {
  width: 20%;
  height: auto;
  margin-left: 40%;
}

#FeaturedWork {
  margin-top: 10%;
}
#FeaturedWork #text {
  margin-left: 5%;
}
#FeaturedWork #text h4 {
  margin-left: 1%;
  font-size: 300%;
}
#FeaturedWork #text h4 span {
  text-transform: uppercase;
  font-size: 150%;
}
#FeaturedWork #text h4 #one {
  color: yellow;
}
#FeaturedWork nav {
  margin-left: 5%;
  margin-top: 1%;
  text-transform: uppercase;
}
#FeaturedWork nav .nav-link {
  color: black;
}
#FeaturedWork #images {
  margin-top: 2%;
}
#FeaturedWork #images .row img {
  width: 25%;
}

#strategy {
  margin-top: 5%;
}
#strategy .row {
  margin-left: 5%;
}
#strategy .row h4 {
  margin-left: 1%;
  font-size: 300%;
}
#strategy .row h4 span {
  text-transform: uppercase;
  font-size: 150%;
}
#strategy .row h4 .one {
  color: yellow;
}
#strategy #text h3 {
  font-size: 125%;
  margin-top: 2%;
}
#strategy #text h4 {
  font-size: 118%;
  margin-top: 2%;
}
#strategy #cards {
  margin-left: 15%;
  margin-top: 5%;
}
#strategy #cards .card {
  border: 0px;
  margin-top: -2%;
}
#strategy #cards .card #too .card-body {
  margin-left: 0%;
  margin-right: 22%;
}
#strategy #cards .card-body {
  font-size: 100%;
  margin-left: 25%;
}
#strategy #cards .card-img {
  width: 150%;
  height: auto;
}

#SericesProvided {
  background: url("./images/Layer 26.png");
  background-size: 100%;
  margin-top: 8%;
  padding: 3.8%;
}
#SericesProvided #main #text {
  width: 40%;
  height: 100%;
  margin-top: -1%;
  margin-left: -1%;
}
#SericesProvided #main #text .one {
  color: yellow;
  text-transform: uppercase;
}
#SericesProvided #main #text span {
  text-transform: uppercase;
  font-size: 150%;
}
#SericesProvided #main #text h4 {
  margin-left: 1%;
  font-size: 270%;
  color: white;
}
#SericesProvided #main #text_card {
  width: 60%;
  height: 100%;
  margin-top: 6%;
}
#SericesProvided #main #text_card #card_2 {
  margin-top: 5%;
}
#SericesProvided #main .card {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-left: 2%;
  border: 0px;
}
#SericesProvided #main .card .card-text {
  margin-top: 10%;
  font-size: 80%;
}

/*# sourceMappingURL=style.css.map */
